$purple: #7235ff;
$lightpurple: #a882ff;
$white: #eee;
$darkwhite: #d8d8d8;
$gray: #aaa;


.title{
    color: $white;
    font-size: 2em;
}

.a{
    color: $lightpurple;
    text-decoration: underline;
    font-style: italic;
    font-size: .92em;
    cursor: pointer;
    &:hover{
        color: $purple;
    }
}

.b{
    font-weight: 500;
    color: $darkwhite;
    font-size: .92em;
}


.callout{
    padding: 10px 20px;
    border-radius: 10px;
    background: $purple;
    color: $white;
    font-weight: 500;
}


.p {
    font-size: 1.2em;
    font-weight: 400;
    color: #a8a8a8;
}
