.div__wrap{
    position: relative;
    display: flex;
    flex-direction: column;

    border: 2px solid #aaa;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.div__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    padding: 6px;
    border-bottom: 2px solid #888;
    
    user-select: none;

    & .div__icons{
        display: flex;
        gap: 5px;

        & input[type=checkbox]{
            display: none;

            &:checked ~ label{
                background-color: #eee;
                color: #000
            }
        }

        
        & .icon{
            display: inline-block;
            color: #eee;
            padding: 4px 6px;
            background: #444;
            border-radius: 5px;
            font-weight: 500;
    
            &:hover{
                background: #555;
            }
        }

    }

}
.div__list{

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    overflow: scroll;
    
    $scrollBackBG: #585858; 
    $scrollBackFG: #444; 
    /* Estilos para la barra de scroll personalizada */
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scrollBackFG;
        border: 3px solid $scrollBackBG;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: $scrollBackBG;
        // border-radius: 10px;
    }
    &::-webkit-scrollbar-corner {
        background-color: $scrollBackBG;
        // border-radius: 10px;
    }
    
    & .div__log_item { 
        display: inline-block;
        & p{

            min-width: 400%;
            max-width: 1500px;

            text-align: start;
            color: #eee;
            font-size: .7em;
            font-style: italic;
            font-family: monospace;
            background-color: #555;
            padding: 2px 4px 1px;

            &.multiline{
                white-space: nowrap;
            }
            
            &:hover, &:nth-child(even):hover{
                background: #645c7c;
            }
            
        }
        &:nth-child(even) p{
            background: #666;
        }
    }

}