@import "../../identity";



.div__results_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
    width: 80%;
    max-width: 900px;
    margin: auto;

    text-align: center;

    & p{
        color: $gray;
        font-style: italic;
        font-size: 1.1em;
        margin: 10px;

        & span{
            color: $darkwhite;
            font-family: monospace;
        }
    }
    & hr{
        width: 10%;
        margin: auto;
        border-color: $gray;
    }
}

.button__download{
    padding: 10px 20px;
    background: $purple;
    color: $white;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px $purple;

    &:hover{
        filter: brightness(110%);
    }
}
