@import "identity";

.app{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.div__header{   
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 40px;
    
    background-color: #111;
    color: #eee;

    & h2{
        font-size: 1.6em;
    }
}
.div__body{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #333;
}

.div__scene_wrap{
    position: relative;
    height: 85%;
    width: 100%;
}


