@import "identity";

.app{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-size: 1rem;
}

.div__header{   
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 40px;
    
    background-color: #444;
    color: #eee;

    & h2{
        font-size: 1.8em;
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;

        & img{
            width: 35px;
            object-fit: contain;
        }
    }
    & > span{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        background-color: #3338;
        padding: 6px 8px;
        border-radius: 30px;
        font-size: 1.2em;
        font-weight: 500;
        cursor: pointer;

        &:hover{
            background-color: #333d;
        }
        & img{
            width: 30px;
            filter: invert(1);
        }
    }
}
.div__body{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #333;
}

.div__scene_wrap{
    position: relative;
    height: 85%;
    width: 100%;
}


