@import "../../identity";

.div__welcome_wrap{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.div__information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;

    color: $white;

    & h1{font-size: 2em;}
    & p>i{font-size: .9em; color: $gray}
}