@import "../../identity";


.div__information_wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;


    & .div__info_wrap{
        width: 80%;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #a8a8a8;

        & .div__item{
            display: flex;
            align-items: center;
            gap: 10px;
        
            padding: 10px 20px;
            border-radius: 10px;
            border: 2px solid $lightpurple;


            & span{
                font-size: 2em;
            }
            & p {
                font-size: 1.2em;
                font-weight: 400;
            }
        }

    }
}