@import "../../identity";


.div__runscripts_wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.div__progress_wrap{
    width: 80%;
    max-width: 800px;
    
    & p{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: $gray;
        font-size: 1.2em;
        font-weight: 300;
        font-family: monospace;
    }
    
    & .p__info{
        padding: 10px;
        font-size: 1.2em;

        & span{
            display: inline-block;
            height: 40px;
            width: 40px;
            text-align: center;
            font-size: 1.4em;
            animation: rotate 3s linear infinite;
        }
    }
    
    & .p__status{
        font-size: 1em;
        color: #666;
        
        & span{
            font-family: inherit;
        }
    }
}

.div__progress_outter{
    background: #444;
    width: 100%;
    height: 30px;
    padding: 8px;
    border-radius: 20px;
    
    & .div__progress_inner{
        width: 100%;
        height: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, #530083 0%, #9800d4 100%);
        border-radius: 20px;

        transition: all .3s ease;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}