@import "../../identity";


.div__setup_wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.div__info{
    width: 80%;
    max-width: 900px;
}


.div__form{
    width: 80%;
    max-width: 900px;
    overflow-y: scroll;
    height: 80vh;
      
    
    padding: 40px;
    border: 2px solid $purple;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* Estilos para la barra de scroll personalizada */
    &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    }
    
    &::-webkit-scrollbar-thumb {
    background-color: #8884;
    border: 8px solid #333;
    border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    }

    & > .tip{
        color: #aaa;
        padding: 10px 0;
        border-bottom: 2px solid #888;
    }

    & label{
        color: $darkwhite;
    }

    & .div__item{
        display: flex;
        gap: 10px;
        align-items: center;

        &.div__subitem{
            margin-left: 20px;
        }
    }
    & .div__input_name_wrap{
        color: $gray;
        padding: 10px 0;
        margin-left: 20px;
        padding-left: 10px;
        border-left: 2px solid #666;
        
        
        & .div__input_name {
            position: relative;
            padding: 10px 0 20px;
            width: 100%;

            & input{
                font-family: monospace;
                width: 20%;
                font-size: .8em;
                background: none;
                border: 1px solid #fff1;
                color: $gray;
                padding: 2px 4px;

                &:nth-of-type(1){
                    text-align: end;
                }
                
                &:focus{
                    outline: none;
                }
            }
            & span{
                font-family: monospace;
                color: $gray;
                font-size: .8em;
            }
        }
    } 

    & h2{
        color: $white;
        font-size: 1.4em;
        padding: 10px;
        border-bottom: 2px solid #444;
    }

    & .labelMsg{
        font-style: italic;
        color: #888;
        font-size: .9em;
    }

    & > p{
        color: $gray;
    }
}


.code{
    font-family: monospace;
    padding: 2px 6px;
    background: #585858;
    color: #c78100;
    border-radius: 6px;
}

.example{
    & *{
        font-size: .8em;
    }
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #666;

    
    filter: brightness(80%);
}